* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

body {
    background-color: #f8f9fa;
}

main {
    max-width: 520px;
    margin: 80px auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.08);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #212529;
}

form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 10px 12px;
    border-radius: 6px;
    border: 1px solid #ced4da;
    outline: none;
    transition: all 0.2s ease;
}

input[type="text"]:focus {
    border-color: #696969;
    box-shadow: 0 0 0 2px rgba(41, 41, 41, 0.2);
}

form button {
    background-color: #8a8a8a;
    color: white;
    padding: 8px 14px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

form button:hover {
    background-color: #3f3f3f;
}

.filtros {
    text-align: center;
    margin-bottom: 15px;
}

.filtros button {
    background: transparent;
    border: 1px solid #3b3b3b;
    color: #3b3b3b;
    padding: 6px 12px;
    border-radius: 6px;
    margin: 0 4px;
    cursor: pointer;
    transition: 0.2s;
}

.filtros button:hover {
    background-color: #686868;
    color: white;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 8px;
    background-color: #f8f9fa;
    transition: 0.2s;
}

li:hover {
    background-color: #e9ecef;
}

li span {
    flex: 1;
    margin-left: 10px;
}

.concluida {
    text-decoration: line-through;
    color: #0eca37;
}

li button {
    background-color: #dc3545;
    color: white;
    padding: 5px 8px;
    border-radius: 5px;
    border: none;
    font-size: 12px;
    cursor: pointer;
    transition: 0.2s;
}

li button:hover {
    background-color: #bb2d3b;
}